// join var name
// joinVarName(('button', 'text-color')) => '--button-text-color'
@function joinVarName($list) {
  $name: '--';
  @each $item in $list {
    @if $item != '' {
      @if index($list, $item) == 1 {
        $name: $name + $item;
      } @else {
        $name: $name + '-' + $item;
      }
    }
  }
  @return $name;
}

// getCssVarName('button', 'text-color') => '--button-text-color'
@function getCssVarName($args...) {
  @return joinVarName($args);
}
