@use 'sass:color';
@use 'sass:math';

@use '_var' as *;
@use '_function' as *;

@mixin b($block) {
  $B: $block !global;

  .#{$B} {
    @content;
  }
}

@mixin e($element) {
  $E: #{$B+$element-separator+$element} !global;

  @at-root {
    .#{$E} {
      @content;
    }
  }
}

@mixin m($modifier) {
  $M: #{$E+$modifier-separator+$modifier} !global;

  @at-root {
    .#{$M} {
      @content;
    }
  }
}

@mixin generate-opacity-color-var($color, $prefix) {
  @for $i from 1 through 10 {
    $r: color.red($color);
    $g: color.green($color);
    $b: color.blue($color);
    $a: math.div($i, 10);

    #{getCssVarName($prefix, $i)}: rgba($r, $g, $b, $a);
  }
}
